body{
	margin:0;
	font-family: helvetica;
}
h1{
	margin-top:0px;
}
#mainTitolo{
	font-size: 2em;
	text-align: center;
	background-color: orangered;
	padding: 0;
}

h4{
	text-align: right;
	padding-right:30px;
}
/*calc permette di eseguire il calcolo*/
h5{
	font-size: calc(1em + 10px);
	margin:0px;
	padding: 5px;
}

h6{
	margin:0px;
	font-size: 15px;
	margin-bottom: 30px;
}
a{
	text-decoration: none;
	color:black;
}

a:hover{
	text-decoration: underline;
}

img{
	height: 300px;
}
/*Flexbox, flexwrap se gli elementi non riescono a stare in una riga allora
occupano più righe*/
#opereBox{
	padding: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.opera{
	flex:1 0 31%;
	margin:10px;
}

#descrizione{
	text-align:center;
}
@media all and (min-width: 481px) and (max-width: 1025px) { 

h4{
	text-align: right;
	width: 100%;
}

h1{
	width: 50%;
	padding:0px 250px;
	margin-left: 0px;
	text-align: center;
}

body{
	margin: 0px;
	padding-right: 0px;
}

img{
height: 350px;
}
}
footer {
    padding: 0px;
}

/* Smartphone o piccoli Tablet */
@media all and (max-width: 480px) { 

	#mainTitolo{
	font-size:3em;
	}

.opera img{
	height:250px;
}
#opereBox{
	padding:0px;
}
}
