#MuseoLogo{
	background-color:red;
	padding:2px;
	margin-bottom:40px;
	text-align:center;
}

#linkToHome{
	font-size:5em;
	color:black;
}

.sottoTitolo{
	font-size:3em;
}

#linkToHome{
    text-decoration: none;
}

#linkToHome:hover{
    text-decoration: none;
}

table{
	margin: 40px auto;
	font-size:25px;
	padding:20px;
}

th{
	font-size:35px;
}
td{
	padding: 5px 30px;
}
td > a {
	color:black;
	text-decoration:none;
}
td > a:hover {
	text-decoration:underline;
}

#erroreRicerca{
	font-style:italic;
	text-align:center;
	color:red;
}

#filtri{
	margin:10px;
}
label{
	margin-right:10px;
}
.filtro{
	display:inline;
	margin:5px;
}

/*Per impostare lo stile in modalità smartphone*/
@media all and (max-width: 480px) { 
table,th{
	font-size:1em;
}	
	
}