body {
	margin: 0;
	font-family: helvetica;
}
/*position absolut, per posizione rispetto all'elemento genitore**/
#adminLogout{
	color:black;
	text-decoration:none;
	position:absolute;
   	top:0;
   	right:0;
   	padding:5px;
}

#adminLogout:hover{
	text-decoration:underline;
}
#adminButton{
	color:black;
	margin-left:50px;
}
footer {
	background-color: dimgray;
	height: 20%;
	width: 100%;
	color: white;
	margin: 0px;
	padding: 40px;
	display: flex;
	padding-bottom: 60px;
}

#FooterLogo h6 a{
	margin: 25px;
}
footer h6{
	margin:0px;
	font-size:3em;
}
footer  p {
	font-size:1.2em;
	padding-left: 40px;
}

#FooterLogo h2 a {
	font-size:4em;
}
#FooterLogo h2 > a, #FooterLogo h6 > a {
	color:white;
	text-decoration:none;
}
/*Flex grow per gestire la dimensione dei flex item*/
#FooterInfo {
	flex-grow: 1;
}

#FooterLogo {
	flex-grow: 4;
	text-align: center;
}

#FooterLogo h6 {
	font-size: 2em;
}

#FooterLogo>a {
	text-decoration: none;
	color: white;
}

/*Per impostare lo stile in modalità smartphone*/
@media all and (max-width: 480px) {
	div {
		width: 100%;
		font-size: 8px;
	}
	footer {
		display: block;
	}
	#FooterInfo h6 {
		font-size: 3em;
	}
	#FooterInfo p {
		font-size: 2em;
	}
	div#FooterLogo {
		margin-left: -40px;
	}
}