<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>GNAM Autori</title>
	<link rel="stylesheet" type="text/css" href="/css/autoriStyle.css">
	<head th:replace="fragments/base.html :: headerfiles"> </head>
</head>
<body>
<div id="mainTitolo">
		<h1><a id="homeLink" href="home.html" th:href="@{/}">GNAM</a></h1> 
		<h2>"Autori"</h2>
		</div>
		
	<div id="filtri">
	<form th:action="@{/autori}"  method="POST" th:object="${filtro}">
      <input id="checkPerNome" type="checkbox" th:field=*{ordinaPerNome} value="submit"  onclick="submit();">
  <label  for="checkPerNome" th:text="#{orderCheckboxCognome}">
    Ordina per cognome
  </label>
     <label for="site-search"></label>
	<input type="search" id="site-search" th:field=*{ricerca} placeholder="Cerca tra gli autori:" th:placeholder="#{cercaArtista}">
	<button value="submit">Search</button>
    </form>
</div>

<div id="father">
	
		<div class="child" th:each="autore:${autori}" th:if="${not #lists.isEmpty(autore.opere)}">
		
		<h4><a href="" th:href="@{'/artista/'+${autore.id}}" th:text="${autore.nome}+' '+${autore.cognome}">Vasily Kandinsky</a></h4>
		<h5 ><a href="" th:href="@{'/artista/'+${autore.id}}"th:text="${autore.nazionalita}" >russo</a></h5>
		<h6 ><a href="" th:href="@{'/artista/'+${autore.id}}" th:text="${#lists.size(autore.opere)} + ' opere esposte'">1 opera esposta</a></h6>
			
	
	</div>
</div>

	
<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>