<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>GNAM</title>
	<link rel="stylesheet" type="text/css" href="/css/collezioniStyle.css">
	<link rel="stylesheet" type="text/css" href="/css/form.css">
	<head th:replace="fragments/base.html :: headerfiles"> </head>
</head>
<body>

<div id="MuseoLogo">
<h1>
		<a id="linkToHome" href="home.html" th:href="@{/}">
			GNAM Admin
		</a>
		</h1>
		<h2 th:text="'Modifica collezione:'+${collezione.nome}">Modifica Modern</h2>
		<a th:fragment="adminLogout" id="adminLogout" href="/logout">Logout</a>
	</div>
<!-- 
<div id="filtri">
	<form th:action="@{/admin/collezioni}"  method="POST" th:object="${filtro}">
      <input id="checkPerNome" type="checkbox" th:field=*{ordinaPerNome} value="submit"  onclick="submit();">
  <label  for="checkPerNome" th:text="#{orderCheckboxNome}">
    Ordina per nome
  </label>
     <label for="site-search"></label>
	<input type="search" id="site-search" th:field=*{ricerca} placeholder="Cerca tra le collezioni:" th:placeholder="#{cercaCollezione}">
	<button value="submit">Search</button>
    </form>
</div> -->
<div id="backButton">
<a class="button" th:href="@{/admin/collezioni}">Indietro</a>
</div>
<div>
	
	<h3>Aggiungi nuova opera</h3>
	<a class="button" th:href="@{'/admin/'+${collezione.id}+'/aggiungiOpera'}">Nuova</a>
</div>
<table>
	<tr>
    <th>Titolo</th>
    <th>Anno</th>
    <th>Autore</th>
  	</tr>
  	
  	<!-- <td th:if="${#lists.isEmpty(collezioni)}" id="erroreRicerca"> Nessun risultato</td> -->
	<tr th:each="opera: ${opere}">
	
	
		<td>
		<a th:href="@{'/opera/'+${opera.id}}" th:text="${opera.titolo}"> 
			Titolo opera
			</a>
		</td>
	
		<td th:text="${opera.anno}">
			Anno
		</td>
		<td th:text="${opera.artista.nome}+' '+${opera.artista.cognome}">
			Autore
		</td>
		<td>
		<!-- <a class="button" th:href="@{'/admin/cancellaOpera/'+${opera.id}}">Cancella</a>-->
		<a class="button" th:href="@{'/admin/confermaCancellazione/Opera/'+${opera.id}}">Cancella</a>
		</td>
	<!-- 
		<td>
		<a class="button" th:href="@{'/admin/modificaOpera/'+${opera.id}}">Modifica</a>
		</td>-->
	
	</tr>
</table>

<footer th:replace="fragments/base.html :: fondo"></footer>

</body>
</html>