<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>GNAM</title>
	<link rel="stylesheet" type="text/css" href="/css/collezioniStyle.css">
	<link rel="stylesheet" type="text/css" href="/css/form.css">
	<head th:replace="fragments/base.html :: headerfiles"> </head>
</head>
<body>

<div id="MuseoLogo">
<h1>
		<a id="linkToHome" href="home.html" th:href="@{/}">
			GNAM Admin
		</a>
		</h1>
		<h2 th:text="'Modifica collezione:'+${collezione.nome}">Modifica Modern</h2>
		<a th:fragment="adminLogout" id="adminLogout" href="/logout">Logout</a>
	</div>

<div id="backButton">
<a class="button" th:href="@{/admin/collezioni}">Indietro</a>
</div>
<div>
	<div class="menuAdmin">
	<h3>Aggiungi nuova opera</h3>
	<a class="button" th:href="@{'/admin/'+${collezione.id}+'/aggiungiOpera'}">Nuova</a>
	</div>
	<div class="menuAdmin">
	<h3>Vai alla collezione</h3>
	<a class="button" th:href="@{'/collezione/'+${collezione.id}}">Vai</a>
	</div>
	<div class="menuAdmin">
	<h3>Cancella collezione</h3>
	<a class="button" th:href="@{'/admin/confermaCancellazione/Collezione/'+${collezione.id}}">Cancella</a>
	</div>
	
</div>
<table>
	<tr>
    <th>Titolo</th>
    <th>Anno</th>
    <th>Autore</th>
  	</tr>
  	
	<tr th:each="opera: ${opere}">
	
	
		<td>
		<a th:href="@{'/opera/'+${opera.id}}" th:text="${opera.titolo}"> 
			Titolo opera
			</a>
		</td>
	
		<td th:text="${opera.anno}">
			Anno
		</td>
		<td>
			<a th:href="@{'/artista/'+${opera.artista.id}}" th:text="${opera.artista.nome}+' '+${opera.artista.cognome}"> 
			Autore
			</a>
		</td>
		<td>
		<a class="button" th:href="@{'/admin/confermaCancellazione/Opera/'+${opera.id}}">Cancella</a>
		</td>
	</tr>
</table>

<footer th:replace="fragments/base.html :: fondo"></footer>

</body>
</html>