<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>GNAM</title>
<link rel="stylesheet" type="text/css" href="/css/collezioniStyle.css">
<link rel="stylesheet" type="text/css" href="/css/form.css">
<head th:replace="fragments/base.html :: headerfiles">
</head>
</head>
<body>

	<div id="MuseoLogo">
	<h1>
		<a id="linkToHome" href="home.html" th:href="@{/}">
			GNAM Admin
		</a>
		</h1>
		<h2 class="sottoTitolo">Aggiungi opera a:</h2>
		<h2 th:text="${collezione.nome}" class="sottoTitolo">Collezione</h2>
		<a th:fragment="adminLogout" id="adminLogout" href="/logout">Logout</a>
	</div>
<div id="backButton">
<a class="button" th:href="@{'/admin/modificaCollezione/'+${collezione.id}}">Indietro</a>
</div>


<form th:unless="${opera.artista}" th:action="@{'/admin/'+${collezione.id}+'/addArtista'}" method="GET">
<div class="element" id="nuovoAutore">
				<label>Inserisci un nuovo autore</label> <input type="checkbox"
				value="submit" onclick="submit();">
			</div>
</form>
			
			<div th:if="${opera.artista}" id="artistaSelezionato">
			<p th:text="'Artista: '+${opera.artista.nome}+' '+${opera.artista.cognome}">Nome e cognome Artista selezionato </p>
			</div>
			
	<form th:action="@{'/admin/'+${collezione.id}+'/aggiungiOpera'}"
		th:object="${opera}" method="post" enctype="multipart/form-data">
		<div class="element" th:if="${not #lists.isEmpty(autori)}"> 
		
      	<label>Seleziona Autore</label>
      	<input  type="checkbox"  value="submit" onClick="showTendina()">
      	<select id="tendina" th:field="*{artista}" style="visibility:hidden">
    		<option selected th:value=null>Autore</option>
        	<option th:each="autore : ${autori}"
                th:value="${autore.id}"
                th:text="${autore.nome}+' '+${autore.cognome}"/>
   		 </select>
   		 </div>	
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p id="errore" th:each="err : ${#fields.globalErrors()}" th:text="${err}">errore globale</p>
  			</div>
  			
		<h2 class="sottoTitolo">Inserisci opera</h2>
			<div class="element">
				<label>Titolo</label> <input th:field="${opera.titolo}" type="text">
			</div>
			<div class="element">
				<label>Anno</label> <input th:field="${opera.anno}" type="text">

			</div>

			<div class="element">
				<label>Descrizione</label>
				<textarea th:field="${opera.descrizione}"  maxlength="1500">
					Scrivi la descrizione
				</textarea>
			</div>
			
		
		<div class="element">
		<label>Scegli una foto dell'opera</label>

		<input type="file"  name="img" accept="image/png, image/jpeg" >
		
		</div>
		
		

		<div class="element">
			<input type="submit" value="Submit">
		</div>
	</form>


	<footer th:replace="fragments/base.html :: fondo"></footer>

<script type="text/javascript">
function showTendina(){
	document.getElementById("tendina").style.visibility="visible";
}




</script>
</body>
</html>